  {{ form_errors(form) }}

  <fieldset>
    <legend>Password recovery request</legend>
    <div class="clearfix">
      {{ form_label(form.email) }}
      {{ form_errors(form.email) }}
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        {{ form_widget(form.email, { 'attr': {'class': 'xlarge'} }) }}
      </div>
    </div>
  </fieldset>

  {{ form_rest(form) }}